<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="main-content" th:fragment="main-content">
	    
	    <h1>My Simple Music Player</h1>
	    
	    <div id="song-display">
	    </div>
		<div id="timer">
 			<span id="minutes">00</span>:<span id="seconds">00</span>
 			<span> | </span>
 			<span id="total_minutes">00</span>:<span id="total_seconds">00</span>
 		</div>
	    <div class="control-panel">
		    <button onClick="start_playback()" id="btn-play" class="btn btn-default">Play</button>	        
	    	<button onClick="pause_playback()" id="btn-pause" class="btn btn-default">Pause</button>	
	    	<button onClick="stop_playback()" id="btn-stop" class="btn btn-default">Stop</button>
 		</div>
	    <table id="song-list" class="table table-hover table-bordered" th:fragment="songlist">
	       	<thead>
		        <th>Title</th>
		        <th>Artist</th>
	       	</thead>
        	<tbody>
		      	<tr th:each="song : ${songs}" class="clickable-row">
			      	<td th:text="${song.songId}" class="songId" type="hidden">Song Id ...</td>
			        <td th:text="${song.songTitle}">Title ...</td>
			        <td th:text="${song.songArtist}">Artist ...</td>	        	
		      	</tr>
	      	</tbody>
	    </table>
 </div>
 
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/d3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>